<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carer Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>Remote Health Monitoring</h1>
    <h2>Carer Dashboard</h2>

    <div class="center-page">
        <div class="container">

            <div class="form-box blue-box">
                <h3>Options</h3>

                <p><a href="{{ url_for('appointments') }}">View Appointments</a></p>
                <p><a href="{{ url_for('create_appointment') }}">Book Appointment for Patient</a></p>
            </div>

            <p class="info"><a href="{{ url_for('logout') }}">Logout</a></p>

        </div>
    </div>
</body>

</html>