{% extends "base.html" %}

{% block content %}

<h1>Create Prescription</h1>

<form method="POST">

    {{ form.hidden_tag() }}

    <p>
        {{ form.medicine_name.label }} <br>
        {{ form.medicine_name(size=40) }}
    </p>

    <p>
        {{ form.dosage.label }} <br>
        {{ form.dosage(size=40) }}
    </p>

    <p>
        {{ form.instructions.label }} <br>
        {{ form.instructions(rows=4, cols=40) }}
    </p>

    <p>
        {{ form.repeat_allowed() }}
        {{ form.repeat_allowed.label }}
    </p>

    <p>
        <button type="submit" class="btn">Create Prescription</button>
    </p>

</form>

{% endblock %}
