<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

    <title>Remote Health Monitoring</title>
    <h1>Doctor Dashboard</h1>

    <p>Welcome back!</p>

    <div class="dashboard-grid">
        <div class="card">
            <h2>Appointments</h2>
            <p>View Scheduled Appointments</p>

            <a class="btn" href="{{url_for('view_appointments')}}">
                View Appointments
            </a>
        </div>

        <div class="card">
            <h2>Schedule</h2>
            <p>Create a new appointment</p>

            <a class="btn" href="{{url_for('create_appointment')}}">
                Schedule Appointment
            </a>
        </div>

        <div class="card">
            <h2>Patients</h2>
            <p>View registered patients and manage care</p>

            <a class="btn" href="{{url_for('view_patients')}}">
                View Patients
            </a>
        </div>
    </div>
</body>
</html>