<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

    <title>Remote Health Monitoring</title>
    <h1>Doctor Dashboard</h1>

    <p>Welcome back!</p>

    <div class="dashboard-grid">
        <div class="card">
            <h2>Appointments</h2>
            <p>Book an Appointment with a Patient</p>

            <a class="btn" href="{{url_for('view_appointments')}}">
                Book Appointment
            </a>
        </div>

        <div class="card">
            <h2>Schedule</h2>
            <p>Create a new appointment</p>

            <a class="btn" href="{{url_for('create_appointment')}}">
                Schedule Appointment
            </a>
        </div>

        <div class="card">
            <h2>Patients</h2>
            <p>View registered patients and manage care</p>

            <a class="btn" href="{{url_for('view_patients')}}">
                View Patients
            </a>
        </div>
    </div>

    <h2 class="appointments-title">Your Appointments</h2>

<div class="appointments-card">
    <table class="appointments-table">
        <tr>
            <th>Title</th>
            <th>Patient</th>
            <th>Created By</th>
            <th>Date</th>
            <th>Status</th>
        </tr>

        {% for appt in appointments %}
        <tr>
            <td>{{ appt.title }}</td>
            <td>{{ appt.patient.full_name }}</td>
            <td>{{ appt.creator.full_name }}</td>
            <td>{{ appt.appointment_date.strftime("%Y-%m-%d %H:%M") }}</td>
            <td>{{ appt.status }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="5">No appointments found.</td>
        </tr>
        {% endfor %}
    </table>
</div>



</body>
</html>