{% extends "base.html" %}

{% block content %}

<h2>Welcome {{ user.first_name }}</h2>

<p>Your role: <b>{{ user.role }}</b></p>

<a href="{{ url_for('logout') }}">Logout</a>

<div class="card">

<h2>Upcoming Appointments</h2>

{% if appointments %}

<ul>
{% for appointment in appointments %}
<li>
<b>{{ appointment.title }}</b><br>
{{ appointment.appointment_date.strftime("%d %B %Y %H:%M") }}
</li>
{% endfor %}
</ul>

{% else %}

<p>No upcoming appointments</p>

{% endif %}

</div>


<div class="card">

<h2>Menu</h2>

{% if user.role == "patient" %}

<a href="{{ url_for('appointments') }}">View My Appointments</a><br>
<a href="{{ url_for('create_appointment') }}">Request Appointment</a><br>

{% elif user.role == "family" %}

<a href="{{ url_for('appointments') }}">View Patient Appointments</a><br>
<a href="{{ url_for('create_appointment') }}">Schedule Appointment</a><br>

{% elif user.role == "carer" %}

<a href="{{ url_for('appointments') }}">View Care Schedule</a><br>
<a href="{{ url_for('create_appointment') }}">Add Care Visit</a><br>

{% elif user.role == "doctor" %}

<a href="{{ url_for('appointments') }}">View All Appointments</a><br>
<a href="{{ url_for('create_appointment') }}">Create Appointment</a><br>

{% endif %}

</div>

{% endblock %}